<div class="container">
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/view">View Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/courseapp">Register for A Course</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome {{Data.name}} to your Profile</h5>
    <p class="card-text">Here you can select courses Apply</p>
  
  </div>
</div>
</div>