<div class="bgded overlay" style="background-image:url('../../assets/images/demo/backgrounds/blck.jpg');">
  <section class="hoc container clear">
    <div class="points group"> 
      <div class="sectiontitle">
        <p class="nospace font-xs">Expolore the infinite knowledge</p>
        <h6 class="heading font-x2">IF YOU CAN DREAM IT , YOU CAN DO IT</h6>
      </div>
      <figure class="one_half first">
        <ul class="nospace clear">
          <li><a href="#"><i class="fab fa-fly"></i></a>
            <h6 class="heading">Education is the key to success</h6>
            <p>Using our Teach Me app every one within any age can explore and study new technologies, 
              
            </p>
          </li>
        </ul>
      </figure>
      <div class="one_half"><a class="imgover" href="#"><img class="borderedbox inspace-10" src="../../assets/images/demo/backgrounds/wp1.jpg" alt=""></a></div>
    
    </div>
  </section>
</div>









